[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "~=1.35.0"
neo4j = "~=5.20.0"
streamlit-code-editor = "~=0.1.4"
pydantic = "~=2.7.1"

[dev-packages]

[requires]
python_version = "3.11"
